@model TPIndustriaBD2.Models.ViewModels.RegistrarCompraVM

<h2>Registrar Compra</h2>

<form asp-action="InserirCompra" method="post">
    <label asp-for="ID_Produto"></label>
    <select asp-for="ID_Produto" class="form-control">
        <option value="">Selecione um Produto</option>
        @foreach (var produto in Model.Produto)
        {
            <option value="@produto.ID_Produto">@produto.Nome_Produto</option>
        }
    </select>
    <span asp-validation-for="ID_Produto" class="text-danger"></span>

    <div class="form-group">
        <label asp-for="ID_Fornecedor"></label>
        <select asp-for="ID_Fornecedor" class="form-control">
            <option value="">Selecione um fornecedor</option>
            @foreach (var fornecedor in Model.Fornecedor)
            {
                        <option value="@fornecedor.ID_Fornecedor">@fornecedor.Nome_Fornecedor</option>
            }
        </select>
        <span asp-validation-for="ID_Fornecedor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantidade"></label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Valor_Compra"></label>
        <input asp-for="Valor_Compra" class="form-control" />
        <span asp-validation-for="Valor_Compra" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>


