@model IEnumerable<TPIndustriaBD2.Models.Fornecedor>

@{
    ViewData["Title"] = "Listagem de Fornecedores";
}

<h2>Listagem de Fornecedores</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Contato</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var fornecedor in Model)
            {
                <tr>
                    <td>@fornecedor.ID_Fornecedor</td>
                    <td>@fornecedor.Nome_Fornecedor</td>
                    <td>@fornecedor.CNPJ</td>
                    <td>@fornecedor.Contato</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Nenhum fornecedor encontrado.</td>
            </tr>
        }
    </tbody>
</table>

