@{
    ViewData["Title"] = "Bem-vindo ao Sistema de Gerenciamento TPIndustria";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="text-center mt-4">
    <p>Bem-vindo ao sistema de gerenciamento TPIndustria. Escolha uma das opcoes:</p>

    <div class="btn-group mt-3">
        <a href="@Url.Action("RegistrarCompra", "Produto")" class="btn btn-lg btn-success">
            <i class="fas fa-shopping-cart"></i> Registrar Compra
        </a>
        <a href="@Url.Action("RegistrarConsumo", "Produto")" class="btn btn-lg btn-danger">
            <i class="fas fa-arrow-alt-circle-down"></i> Registrar Consumo
        </a>
    </div>
</div>


 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" /> 
